<!--create.ejs-->
<div class="container">

    <form action="/project/create" method="POST">

        <h3>Properly Create Form <span class="badge badge-secondary">New</span></h3>

        <div class="row">
            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Title:</label>
                <input type="text" class="form-control" name="Project[title]" required>
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Image URL:</label>
                <input type="text" class="form-control" name="Project[image]" required>
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Estate:</label>
                <select onchange="estateSelected(this.value)" class="form-control" name="Project[estate]" required>
                    <option value="">Please select a Estate:</option>
                    <option value="Mercury">Mercury</option>
                    <option value="Venus">Venus</option>
                    <option value="Earth">Earth</option>
                    <option value="Mars">Mars</option>
                    <option value="Jupiter">Jupiter</option>
                    <option value="Saturn">Saturn</option>
                    <option value="Uranus">Uranus</option>
                    <option value="Neptune">Neptune</option>
                   
                </select>
            </div><br>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Bedrooms:</label>
                <input type="number" class="form-control" name="Project[bedrooms]" min=1 max=90 required>
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Gross Area:</label>
                <input type="number" class="form-control" name="Project[area]" min=1 max=9000 required>
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Excepted Tenants:</label>
                <input type="number" class="form-control" name="Project[tenants]" min=1 max=99 required>
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <label>Rent:</label>
                <input type="number" class="form-control" name="Project[rent]" required>
            </div>

            <div class="form-group col-12 col-sm-6 col-lg-4 col-xl-6">
                <input type="checkbox" value="dummy" name="Project[highlight]">
                <label>Highlight</label><br>
                <button type="submit" class="btn btn-primary ">Submit</button>
            </div>

            

        </div>
</div>
</form>